@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
}
body {
  color: var(--body-text);
  font-family: "Nunito Sans", sans-serif;
}

.header-raber {
  display: flex;
  flex-direction: column;
}
.web-topics-navigater {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.header-buttons-container {
  display: flex;
  align-items: center;
}
.header-buttons {
  background-color: white;
  border-radius: 6px;
  border: solid var(--lines-color);
  margin-right: 4px;
  display: flex;
  align-items: center;
  height: 30px;
}

.triangle-left {
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-left: 1200px solid var(--brand-primary);
  border-bottom: 70px solid transparent;
}
.triangle-right {
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-right: 1200px solid var(--brand-secondary);
  border-bottom: 70px solid transparent;
}
.sub-header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wellcome-text {
  margin-bottom: 0px;
  padding-top: 18px;
  margin-right: 184px;
  font-size: 20px;
  color: var(--brand-secondary);
}
.sub-header-text-paragraph {
  margin-top: 0px;
  color: #333333;
}
.body-container {
  background-color: var(--bg_body);
}
.search-bar-container {
  display: flex;
  /* background-color: white; */
  margin-bottom: 70px;
  padding-top: 20px;
}
.searcch-box {
  width: 75%;
  height: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sort-button {
  background-color: white;
  height: 45px;
  width: 150px;
}
.filter-button {
  background-color: white;
  height: 45px;
  width: 150px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.courseBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 18%;
  padding-bottom: 7px;
  margin: 12px;
  background-color: var(--bg_default);
  border-radius: 6px;
}
.courses-img {
  width: 200px;
}
