@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
  --box-shadow: #00000033;
  --bg-image: url("./Icons/moon-defult.svg");
  --bg-image-heart: url("./Icons/heart-defult.svg");
  --bg-image-search: url("./Icons/search-defult.svg");
}

.dark-mode {
  background-color: black;
  color: white;
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #1a1a1a;
  --bg_body: #282828;
  --lines-color: #000000;
  --body-text: #ededed;
  --heart-color: #dc143c;
  --bg-image: url("./Icons/white-moon.svg");
  --bg-image-heart: url("./Icons/white-heart.svg");
  --bg-image-search: url("./Icons/search-dark.svg");
}
#loading_indicator {
  /* position: relative; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 10px solid rgb(93, 92, 92);
  border-radius: 50%;
  border-top: 10px solid rgb(202, 202, 207);
  width: 50px;
  height: 50px;
  animation: spinIndicator 1s linear infinite;
}
@keyframes spinIndicator {
  100% {
    transform: rotate(360deg);
  }
}

body {
  margin: 0px;
  color: var(--body-text);
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--bg_default);
}
.container {
  margin-inline: 35px;
}

.mode-icon-moon {
  background-image: var(--bg-image);
  width: 30px;
  height: 22px;
  margin-top: 1px;
  background-size: contain;
  background-repeat: no-repeat;
}

.mode-icon-heart {
  background-image: var(--bg-image-heart);
  width: 30px;
  height: 22px;
  margin-top: 1px;
  background-size: contain;
  background-repeat: no-repeat;
}

.mode-icon-search {
  background-image: var(--bg-image-search);
  width: 30px;
  height: 22px;
  margin-top: 1px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 15px;
  bottom: 16px;
}

.star {
  background-image: url(./Icons/star-filled.svg);
  display: block;
  width: 17px;
  height: 17px;
  margin-top: 1px;
  background-size: contain;
  background-repeat: no-repeat;
}

.star-not-checked {
  background-image: url(./Icons/star-notfill.svg);
  display: block;
  width: 17px;
  height: 17px;
  margin-top: 1px;
  background-size: contain;
  background-repeat: no-repeat;
}

.head-raber {
  display: flex;
  flex-direction: column;
}

.header-navigater {
  display: flex;
  justify-content: space-between;
}

.web-tobics {
  color: var(--brand-primary);
}

.header-buttons-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.header-buttons {
  background-color: var(--bg_default);
  color: var(--body-text);
  border-radius: 6px;
  border: 1.5px solid var(--lines-color);
  display: flex;
  align-items: center;
  height: 30px;
}

.tringel-shape {
  clip-path: polygon(51% 0, 119% 0, 125% 50%, 0 0, 85% 0, 0% 44%, 0 0);
  background: linear-gradient(to right, #0768ac, #03c180);
  width: 100%;
  height: 20%;
  position: absolute;
  left: 0;
}

.sub-header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sub-header-text-welcome {
  margin-bottom: 0px;
  padding-top: 28px;
  margin-right: 205px;
  font-size: 20px;
  font-weight: 700;
  color: var(--brand-secondary);
}

.sub-header-text-paragraph {
  margin-top: -2px;
  color: var(--body-text);
}

.body-container {
  background-color: var(--bg_body);
  padding-top: 5px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  padding-top: 20px;
  font-family: "Nunito Sans", sans-serif;
  position: relative;
}

.searcch-input {
  display: flex;
  width: 100%;
}

.search-box {
  color: var(--body-text);
  padding-left: 50px;
  width: 100%;
  height: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 0 solid var(--lines-color);
  box-shadow: 0px 0px 4px var(--box-shadow);
  background-color: var(--bg_default);
  font-family: "Nunito Sans", sans-serif;
}

.search-box-buttons {
  display: flex;
  font-size: small;
}

.sort-select {
  display: flex;
  background-color: var(--bg_default);
  color: var(--body-text);
  height: 52px;
  width: 200px;
  border: 0 solid var(--lines-color);
  border-left: 1px solid var(--lines-color);
  box-shadow: 0px 0px 4px var(--box-shadow);
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}
#sort {
  border: 0;
  font-size: 17px;
  /* margin-right: 15px; */
  margin-top: 5px;
  color: var(--body-text);
  background-color: var(--bg_default);
}
#filter {
  border: 0;
  font-size: 17px;
  margin-right: 15px;
  margin-top: 5px;
  color: var(--body-text);
  background-color: var(--bg_default);
}
.filter-select {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  background-color: var(--bg_default);
  color: var(--body-text);
  height: 52px;
  width: 200px;
  margin-left: -4px;
  margin-left: -4px;
  border: 0 solid var(--lines-color);
  border-left: 1px solid var(--lines-color);
  box-shadow: 0px 0px 4px var(--box-shadow);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-right: 10px;
}

.courses-container {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 30px;
}

.courseBox {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 7px;
  background-color: var(--bg_default);
  border-radius: 6px;
  /* box-shadow: -1px 2px 4px var(--box-shadow); */
  box-shadow: 0px 0px 10px var(--box-shadow);
}

.courses-img {
  width: 100%;
  height: 50%;
  background-color: white;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  object-fit: cover;
}

.course-Box-Content-container {
  margin-inline: 20px;
  overflow: hidden;
}

.category-container {
  font-size: 14px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.topic-container {
  margin-top: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.rating {
  display: flex;
}

.auther-name {
  color: grey;
}

.favourit-section {
  display: none;
  position: fixed;
  bottom: 0;
  box-shadow: -1px 2px 4px var(--box-shadow);
  width: 100%;
  height: 170px;
  background-color: var(--bg_default);
  /* box-shadow: 5px -1px 3px var(--box-shadow); */
  box-shadow: 0px 0px 10px var(--box-shadow);
  overflow: auto;
  resize: horizontal;
}

.favourit-section-paragraph {
  margin-bottom: 8px;
  margin-left: 50px;
  font-weight: 800;
}

.faviourit-courses {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 25px;
  margin-left: 45px;
}

.faviourit-course {
  height: 90px;
  background-color: var(--bg_default);
  font-size: x-small;
  padding-bottom: 15px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-radius: 10px;
  /* box-shadow: -1px 2px 4px var(--box-shadow); */
  box-shadow: 0px 0px 10px var(--box-shadow);
}
.faviourit-ratings {
  margin-left: 5px;
  width: 80px;
}

.faviourit-course-img {
  width: 100%;
  height: 60%;
  background-color: white;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  object-fit: cover;
}

.course-title {
  margin-left: 5px;
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.footer {
  background-color: var(--bg_body);
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.footer-icon {
  margin-left: 3px;
  margin-right: 3px;
}

@media (max-width: 650px) {
  .header-buttons {
    text-indent: -9999px;
  }

  .tringel-shape {
    clip-path: polygon(
      39% 0px,
      108% 0px,
      127% 34%,
      0px 0px,
      95% 0px,
      0% 27%,
      0px 0px
    );
  }

  .sub-header-text {
    align-items: flex-start;
    margin-left: 15px;
  }

  .sub-header-text-welcome {
    font-size: 19px;
    margin-right: 0px;
    font-weight: 800;
  }

  .search-bar {
    flex-direction: column;
    align-items: center;
    margin-right: 27px;
    margin-left: 35px;
  }

  .mode-icon-search {
    bottom: 70px;
  }
  .container {
    margin-inline: 20px;
  }

  .search-box {
    width: 100%;
    height: 50px;
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .search-box-buttons {
    width: 100%;
  }
  .sort-by {
    font-size: small;
  }

  .sort-select {
    width: 50%;
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    border-top: 1px solid var(--lines-color);
    box-shadow: -4px 5px 7px -6px var(--box-shadow);
    border-left: 0px solid;
  }

  .filter-select {
    width: 50%;
    border-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid var(--lines-color);
    box-shadow: 4px 5px 7px -6px var(--box-shadow);
  }

  .courseBox {
    padding-bottom: 7px;
    border-radius: 10px;
  }

  .courses-img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}
